@import "bourbon"
@import "vars"
@import "libs"
@import "reset"
@import "base"

a 
	text-decoration: none
	outline: none!important
	&:hover, &:active, &:focus
		text-decoration: none
		color: $accent-color

.hidden 
	display: none

h1, h2, h3, h4, h5, h6, .button,
.h1, .h2, .h3, .h4, .h5, .h6
	font-weight: normal
	text-transform: uppercase

h1 
	font-size: 26px
	font-family: "sans-bold", Times, sans-serif
p 
	font-size: 14px 
	line-height: 20px
	font-family: "sans-regular", sans-serif
	font-weight: normal

section
	min-height: 100vh
	position: relative


///// общая сецкия //////
.section	
	color: #fff 
	text-align: center
	padding-bottom: 40px
	&__head
		font-size: 40px
		line-height: 40px
		display: inline-block
		text-align: center
		margin: 40px 0 20px
		text-transform: uppercase
		font-family: "sans-bold", sans-serif
		font-weight: bold
		position: relative
		letter-spacing: 4px
		&::before, &::after
			content: ""
			position: absolute
			width: 90%
			height: 1px
			top: 50%
			transform: translateY(-50%)
			background-color: #FFF
		&::before
			right: 105%
		&::after
			left: 105%
	&__desc
		font-size: 18px
		line-height: 23px
		text-align: center
		font-weight: 300
		margin-bottom: 40px



/////// фоновый цвет /////
.bgc 
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: $accent-color
	z-index: 0

.bgi 
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	//background-color: $accent-color
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

// общий стиль для body
.main-body
	height: 100%
	max-width: 100%


// правая секция
.panel-right
	background-color: #ccc
	float: left
	margin-left: 180px
	width: calc(100% - 180px)
	height: 1000px

// левая секция
.panel-left
	position: fixed
	top: 0
	left: 0
	width: 180px
	height: 100%
	float: left
	min-height: 400px


// логотип
.logo
	display: block
	padding: 20px
	img
		width: 100%

// меню
.menu
	display: block
	position: absolute
	top: 50%	
	right: 20px
	transform: translateY(-50%)
	li 
		position: relative
		display: block
		text-align: right
	&__item
		display: inline-block
		text-align: right
		margin: 6% 0
		color: rgba(#000, .7)
		font-size: 14px
		line-height: 18px
		transition: all 0.2s ease
		position: relative
		text-transform: uppercase
		font-family: "sans-regular", sans-serif
		&::before, &::after
			position: absolute
			content: ""
			width: 0px
			height: 1px
			background-color: $accent-color
			transition: all ease-in-out 0.3s
			top: -2px
		&::after
			top: 103%
			left: 0
		&:hover
			color: rgba($accent-color, 1)
			&::before, &::after
				width: 110%
			&::before
				right: 0
		&--active
			color: rgba($accent-color, 1)
			&::before, &::after
				width: 110%
			&::before
				right: 0

			

// социалльные сети
.soc-seti
	bottom: 30px
	position: absolute
	width: 100%
	text-align: center
	&__item
		display: inline-block
		margin: 0 2px
		.soc__link
			display: inline-block
			font-size: 16px
			width: 25px
			height: 25px
			border-radius: 50%
			background-color: rgba(#000, .4)
			color: #fff
			line-height: 25px
			text-align: center
			transition: all ease-in-out 0.2s
		&:hover
			.soc__link
				background-color: $accent-color


//////////// шапка //////////
.main-header
	color: #fff
	min-height: 500px
	position: relative
	.bgi 
		background-color: $header-color
		background-image: url(../img/header/fon.jpg)
		filter: blur(1px)
	.bgc
		background-color: $header-color
		opacity: 0.8
	.header-content
		z-index: 1

// слайдер шапки
.sl-header
	padding: 40px
	&__img
		max-width: 50%
		float: left
		img
			width: 100%




/////// секция О НАС /////////
.about
	.bgi
		background-image: url("../img/about/bgi.png")
		background-position: center center
		background-repeat: repeat
		background-color: none
		background-size: contain

	.bgc
		height: 100% 
		background-color: rgba($accent-color, .5)

	// слайдер
	.sl-about
		&__img
			width: 400px
			height: 400px
			background-color: #fff
			display: inline-block
			border-radius: 50%
			overflow: hidden
			margin: 0 15px
			position: relative
			&::before
				position: absolute
				content: ""
				width: 94%
				height: 94%
				border-radius: 50%
				left: 3%
				top: 3%
				background-color: rgba(#fff, .9)
				transform: scale(0)
				transition: all 0.3s ease-in-out
				opacity: 0
			&:hover
				&::before
					transform: scale(1)
					opacity: 1
				i 
					opacity: 1
			i 
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				font-size: 30px
				color: rgba(0,0,0, .5)
				opacity: 0
				transition: all ease-in-out 0.3s
			a 
				display: block
			img
				width: 100%
				vertical-align: middle
		&__content
			text-align: left
		&__name
			font-weight: bold
			font-size: 28px
			margin-top: 10px
			margin-bottom: 20px
		&__post
			margin-bottom: 15px
			font-size: 16px
			color: rgba(255,255,255, .9)
		&__desc
			margin-bottom: 10px





@import "media"
