@import "bourbon"
@import "vars"
@import "libs"


a 
	text-decoration: none
	&:hover, &:active, &:focus
		text-decoration: none



// общий стиль для body
.main-body
	height: 100%
	max-width: 100%


// правая секция
.panel-right
	background-color: #ccc
	float: left
	margin-left: 180px
	width: calc(100% - 180px)
	height: 1000px

// левая секция
.panel-left
	position: fixed
	top: 0
	left: 0
	width: 180px
	height: 100%
	float: left


// логотип
.logo
	display: block
	padding: 20px
	img
		width: 100%

// меню
.menu
	display: block
	position: absolute
	top: 50%	
	right: 20px
	transform: translateY(-50%)
	&__item
		display: block
		text-align: right
		margin: 12px 0
		color: rgba(#000, .7)
		font-size: 14px
		line-height: 18px
		transition: all 0.2s ease
		position: relative
		&::before
			position: absolute
			content: ""
			top: 9px
			width: 0
			right: 0
			height: 1px
			background-color: $accent-color
			transform-origin: right bottom
			transition: all ease-in-out 0.2s
		&:hover
			color: rgba($accent-color, 1)
			&::before
				width: 100%
		&--active
			color: rgba($accent-color, 1)
			&::before
				width: 100%

// социалльные сети
.soc-seti
	bottom: 20px
	position: absolute
	width: 100%
	text-align: center
	&__item
		display: inline-block
		margin: 0 2px
		.soc__link
			display: inline-block
			width: 30px
			height: 30px
			border-radius: 50%
			background-color: rgba(#000, .4)
			color: #fff
			line-height: 30px
			text-align: center
			transition: all ease-in-out 0.2s
		&:hover
			.soc__link
				background-color: $accent-color

@import "media"
