@import "bourbon"
@import "vars"
@import "libs"
@import "reset"
@import "base"

a 
	text-decoration: none
	outline: none!important
	&:hover, &:active, &:focus
		text-decoration: none
		color: $accent-color

.hidden 
	display: none

h1, h2, h3, h4, h5, h6, .button,
.h1, .h2, .h3, .h4, .h5, .h6
	font-weight: normal
	text-transform: uppercase
	font-family: "Noto Serif", sans-serif

h1 
	font-size: 40px
p 
	font-size: 14px 
	line-height: 20px
	font-family: "Open Sans", sans-serif
	font-weight: normal


section
	//min-height: 50vh
	position: relative


///// общая сецкия //////
.section	
	color: #fff 
	text-align: center
	padding-bottom: 50px
	&__head
		font-size: 36px
		line-height: 40px
		display: block
		text-align: center
		margin: 40px 0 20px
		text-transform: uppercase
		font-weight: 500
		position: relative
		letter-spacing: 4px
		overflow: hidden
		span 
			display: inline-block
			position: relative
			&::before, &::after
				content: ""
				position: absolute
				width: 500px
				height: 1px
				top: 50%
				background-color: #FFF
			&::before
				left: 105%
				margin-left: 20px
			&::after
				right: 105%
				margin-right: 20px
	&__desc
		font-size: 14px
		line-height: 23px
		text-align: center
		font-weight: 300
		margin-bottom: 40px
		padding: 0 20px



/////// фоновый цвет /////
.bgc 
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: $accent-color
	z-index: 0

.bgi 
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	//background-color: $accent-color
	background-position: center top
	background-size: cover
	background-repeat: no-repeat


// стили кнопки
.btn
	display: inline-block
	padding: 12px 20px
	background-color: $accent-color
	color: #fff
	font-size: 16px
	border: none
	transition: all ease 200ms
	text-transform: uppercase
	margin-bottom: 20px
	&:hover
		background-color: darken($accent-color, 6%)
		color: #fff
	&:active, &:focus
		background-color: darken($accent-color, 10%)
		color: #fff


// стили для стрелок слайдера dg
.sl-arrow
	font-size: 40px
	color: #fff
	cursor: pointer
	position: absolute
	top: 50%
	z-index: 5
	opacity: .5
	transition: all ease 0.2s
	&:hover
		opacity: 1
	&__left
		left: 1%
	&__right
		right: 1%

// стили для дот слайдера
.slick-dots
	position: absolute
	bottom: 30px
	li
		width: 12px
		height: 12px
		cursor: pointer
		background-color: #FFF
		border-radius: 50%
		margin: 0 8px
		button 
			display: none
		&.slick-active
			background-color: $accent-color
	

.soc
	text-align: right
	li 
		display: inline-block
	&__item
		background-color: #FFF
		color: $accent-color
		display: inline-block
		width: 25px
		height: 25px
		text-align: center
		line-height: 25px
		margin: 0 2px
		border-radius: 50%
		transition: all ease 200ms
		&:hover
			background-color: $accent-color
			color: #fff


// общий стиль для body
.main-body
	height: 100%
	max-width: 100%


// правая секция
.panel-right
	background-color: #ccc
	float: left
	margin-left: 180px
	width: calc(100% - 180px)
	height: 1000px

// левая секция
.panel-left
	position: fixed
	top: 0
	left: 0
	width: 180px
	height: 100%
	float: left
	min-height: 400px


// логотип
.logo
	display: block
	padding: 20px
	max-width: 200px
	img
		width: 100%

// меню
.menu
	display: block
	position: absolute
	top: 50%	
	right: 20px
	transform: translateY(-50%)
	li 
		position: relative
		display: block
		text-align: right
	&__item
		display: inline-block
		text-align: right
		margin: 6% 0
		color: rgba(#000, .7)
		font-size: 14px
		line-height: 18px
		transition: all 0.2s ease
		position: relative
		text-transform: uppercase
		font-family: "sans-regular", sans-serif
		&::before, &::after
			position: absolute
			content: ""
			width: 0px
			height: 1px
			background-color: $accent-color
			transition: all ease-in-out 0.3s
			top: -2px
		&::after
			top: 103%
			left: 0
		&:hover
			color: rgba($accent-color, 1)
			&::before, &::after
				width: 110%
			&::before
				right: 0
		&--active
			color: rgba($accent-color, 1)
			&::before, &::after
				width: 110%
			&::before
				right: 0

// мобильное меню
.toggle-menu
	display: block


// социалльные сети
.soc-seti
	bottom: 30px
	position: absolute
	width: 100%
	text-align: center
	&__item
		display: inline-block
		margin: 0 2px
		.soc__link
			display: inline-block
			font-size: 14px
			width: 25px
			height: 25px
			border-radius: 50%
			background-color: rgba(#000, .9)
			color: #fff
			line-height: 25px
			text-align: center
			transition: all ease-in-out 0.2s
		&:hover
			.soc__link
				background-color: $accent-color


//////////// шапка //////////
.main-header
	position: relative
	background-color: #fff
	.header-content
		z-index: 1

// слайдер шапки //
.sl-header
	overflow: hidden
	.sl-header__item
		min-height: 600px
		background-size: cover
		background-position: center 0
		.sl-header__content
			margin-top: 50%
			transform: translateY(-50%)
			padding-right: 20px
		.sl-header__categoria
			font-size: 12px
			font-weight: 300
			text-transform: uppercase
			margin-bottom: 6px
			display: inline-block
		.sl-header__head
			font-size: 24px
			margin-bottom: 18px
		.sl-header__desc
			margin-bottom: 16px
		.sl-header__link
			display: inline-block
			color: #000
			border: 1px solid #000
			padding: 10px 25px
			text-transform: uppercase
			font-weight: 300
			transition: background-color 0.2s ease
			&:hover
				background-color: rgba(#fff, .2)


	// стрелки слайдера
	.sl-arrow
		color: #111
		width: 42px
		height: 42px
		background-color: #fff
		text-align: center
		font-weight: 300
		transform: translateY(-50%)
		&__left
			left: 0
		&__right
			right: 0

	// dot слайдера
	.slick-dots
		li 
			opacity: .7
			background-color: #fff
			transition: all ease 200ms
			border: 1px solid #ccc
			&:hover
				opacity: 1
				background-color: $accent-color
			&.slick-active
				opacity: 1
				position: relative
				&::before
					position: absolute
					content: ""
					top: 50%
					left: 50%
					width: 8px
					height: 8px
					transform: translate(-50%, -50%)
					background-color: #000
					border-radius: 50%

.slick-dotted.slick-slider
	margin-bottom: 0




//// секция НОВОСТИ ////
.new
	background-color: #ccc

/////// секция О НАС /////////
.about
	background-color: #fff
	color: #000
	span
		&::before, &::after
			background-color: #000
			height: 1px
	
	.sl-about__item
		margin-bottom: 5px
		&--right
			.sl-about__img
				float: right!important
			.sl-about__content
				float: left!important
		.sl-about__img	
			padding-left: 40px
			width: 50%
			float: left
			img
				width: 100%
		.sl-about__content
			position: relative
			width: 50%
			float: right
			padding: 0 20px
		.sl-about__name
			font-size: 24px
			margin-bottom: 20px
		.sl-about__post
			font-size: 16px
			color: #525252
			text-transform: none
			margin-bottom: 20px
		.sl-about__desc
			margin-bottom: 10px
		.sl-about__link
			display: inline-block
			color: #000
			border: 1px solid #000
			padding: 10px 25px
			text-transform: uppercase
			font-weight: 300
			transition: background-color 0.2s ease
			margin-top: 20px
			&:hover
				background-color: rgba(#000, 0.05)

.sl-about
	.sl-arrow
		background-color: #000
		width: 40px
		height: 40px
		font-weight: 300
		top: 100%
	.sl-arrow__left
		left: calc(50% - 40px)
	.sl-arrow__right
		right: calc(50% - 40px)
		



				
/// секция НОВОСТИ ////
.new
	background-color: #aecacb
	position: relative
	overflow: hidden
	&::before
		position: absolute
		content: ""
		top: 0
		right: 
		background-color: darken(#a8c2c3, 3%)
		transform:  skewX(-30deg)
		width: 100%
		height: 100%
// стили кнопок
.mixblock-filters * 
	box-sizing: border-box

.mixblock-filters
	margin-bottom: 30px
	&__filter 
		display: inline-block
		margin: 0 1.5em
		padding: 0.5em 0
		color: rgba(255, 255, 255, 0.7)
		position: relative
		letter-spacing: 1px
		text-decoration: none
		text-transform: uppercase
		cursor: pointer
		&::before, &::after
			position: absolute
			transition: all 0.35s ease
		&::before 
			bottom: 0
			display: block
			height: 3px
			width: 0%
			content: ""
			background-color: $accent-color
		&::after 
			left: 0
			top: 0
			padding: 0.5em 0
			position: absolute
			content: attr(data-hover)
			color: #ffffff
			white-space: nowrap
			max-width: 0%
			overflow: hidden
		&:hover
			&::before, &::after
				opacity: 1
				width: 100%
			&::after
				max-width: 100%
		&.active 
			&::after
				max-width: 100%
			&::before
				width: 100%



//плитки ....................................................................................
.mixblock
	margin-bottom: 20px
	&__item
		width: 30%
		display: block
		height: auto
		margin: 0 5px 20px
		display: none
		position: relative
		overflow: hidden
		position: relative
		background-color: #FFF
		h4 
			position: relative
			font-size: 16px
			padding: 10px 5px
			line-height: 24px
			z-index: 1
			color: #000
			width: 100%
			display: block
			&::before
				position: absolute
				content: ""
				left: 50%
				top: 120%
				width: 0px
				height: 2px
				transition: width ease-in-out 0.3s
				background-color: $accent-color
				transform: translateX(-50%)
		img
			position: relative
			bottom: -3px
			width: 100%
			transition: transform 0.3s ease-in-out
		time
			position: absolute
			right: -100%
			opacity: 0
			z-index: 2
			color: rgba(#000, 0.9)
			transition: opacity, right, ease-in-out 350ms
			bottom: 20px
			font-weight: bold
			display: inline-block
		p 
			position: absolute
			bottom: 20px
			left: -100%
			transition: left, opacity, ease-in-out 350ms
			z-index: 1
			opacity: 0
			font-size: 18px
			font-size: 14px
			color: rgba(#000, 0.8)
		&::before
			position: absolute
			content: ""
			top: -100%
			left: 0
			width: 100%
			height: 100%
			background-color: #FFF
			opacity: 0
			transition: top, opacity, ease-in-out 300ms
		&:hover
			&::before
				top: 0
				z-index: 1
				opacity: 0.9
			time
				opacity: 1
				right: 20px
			p 
				left: 20px
				opacity: 1
			h4::before
				width: 100px
			img
				transform: scale(1.08)




/// секция ОТЗЫВЫ ////
.reviews
	padding-bottom: 45px
	background-color: #f9f9f9
	.section__head
		span
			&::before, &::after
				background-color: #000
	.sl-reviews
		text-align: center
		overflow: hidden
		&__slide
			padding: 0 45px
		&__img
			display: inline-block
			border: 3px solid $accent-color
			width: 200px
			height: 200px
			border-radius: 50%
			overflow: hidden
			margin-bottom: 15px
			transition: all ease-in-out 300ms
			margin-top: 10px
			a
				display: block
			img
				width: 100%
				display: block
			&:hover
				border: 3px solid lighten($accent-color, 10%)
				transform: scale(1.05)

		&__head
			margin-bottom: 15px
			font-size: 18px
			display: block
			font-weight: bold
			text-transform: none
		&__post
			margin-bottom: 10px
			display: inline-block
			opacity: .9
			font-style: italic
		p
			margin-bottom: 10px
		.soc 
			text-align: center
			li 
				.soc__item
					width: 40px
					height: 40px
					line-height: 40px
					margin: 2px 6px
					font-size: 22px
					background-color: $accent-color
					color: #fff
					&:hover
						background-color: darken($accent-color, 10%)
					
					
	.section__head
		span
			&::before, &::after
				background-color: #000

	.sl-arrow
		color: #000
		top: 20%
		opacity: .3
		font-size: 50px
		transition: color ease-in-out 0.3s
		&:hover
			color: #B7D433
			opacity: .8
		&.sl-arrow__left
			left: 17%
		&.sl-arrow__right
			right: 17%


/// сеция РЕГИСТРАЦИИ //////
.registration
	background-color: #fff

	&__head
		font-size: 22px
		margin-left: 20px
		margin-bottom: 20px
		text-transform: none
	&__desc
		font-size: 16px
		margin-bottom: 30px
		margin-left: 20px
		font-weight: 300
	.section__head
		span
			&::before, &::after
				background-color: #000
	&__content 
		margin-bottom: 40px
	&-advan
		margin-bottom: 20px
		text-align: center
		&__item
			width: 350px
			margin-left: 20px
			margin-bottom: 100px
			margin-top: 80px
			padding: 90px 15px 0
			background-color: #f9f9f9
			display: inline-block
			transition: all ease-in-out 300ms
			vertical-align: top
			text-align: center
			position: relative
			box-shadow: 3px 12px 70px -28px rgba(122,118,133,0.2)
			&::before
				content: ""
				position: absolute
				top: -80px
				left: 0
				width: 100%
				height: 0
				border-left: 174px solid transparent
				border-right:  176px solid transparent
				border-bottom: 80px solid #f9f9f9
			&::after
				content: ""
				position: absolute
				bottom: -80px
				left: 0
				width: 0
				height: 0
				border-left: 174px solid transparent
				border-right: 176px solid transparent
				border-top: 80px solid #f9f9f9
			&:hover
				transform: translateY(-4px)
				cursor: default
				box-shadow: 2px 4px 37px -8px rgba(122,118,133,0.3)
			img
				width: 100px
				display: inline-block
				margin-right: 15px
				margin-bottom: 12px
				color: $accent-color
				position: absolute
				top: -25px
				left: 50%
				transform: translateX(-50%)
			strong
				font-weight: bold
				font-size: 24px
				font-style: italic
				margin-bottom: 10px
				display: block
			span
				text-transform: uppercase
				color: $accent-color
				font-weight: bold
				text-decoration: underline
	.btn-wrap
		text-align: center

////  секция ОБРАТНОЙ СВЯЗИ /////
.write
	background-color: #f9f9f9
	color: #000
	padding-bottom: 45px
	.section__head
		span
			&::before, &::after
				background-color: #000
	&-head
		font-size: 21px
		margin-bottom: 15px
		line-height: 30px
	.write-qustion__item
		display: block
		margin-bottom: 8px
		color: rgba(#000, 0.8)
		i 
			margin-right: 8px
			font-size: 18px
			color: $accent-color
	&-form
		input, textarea
			width: 49%
			height: 40px
			font-size: 18px
			padding: 0 10px
			border: none
			line-height: 28px
			border-bottom: 2px solid #434a54
			margin-bottom: 25px
			display: inline-block
			transition: all ease 200ms
			min-width: 200px
			background-color: rgba(#fff, 0.8)
			&:active, &:focus
				border-bottom: 2px solid $accent-color
			&:requred:valid
				border-bottom: 2px solid  #e9573f
		textarea
			resize: none
			width: 100%
			height: 120px
			text-overflow: ellipsis
		button
			float: right



/// секция КОНТАКТЫ ////
.contact
	background-color: darken(#abc7c8, 40%)
	color: #fff
	&-bottom
		padding: 30px 15px
	.tabs
		margin-bottom: 20px
		font-size: 18px
	.tab 
		margin-right: 10px
		cursor: pointer
		text-transform: uppercase
		color: rgba(#fff, 0.9)
		position: relative
		transition: all ease-in-out 200ms
		&::before
			position: absolute
			content: ""
			bottom: -2px
			left: 0
			transition: all ease-in-out 300ms
			height: 1px
			width: 0%
			background-color: $accent-color
		&.active
			color: $accent-color
			position: relative
			&::before
				width: 100%
		&:hover
			color: rgba(#fff, 1)
			&::before
					width: 100%
	.tab_item
		display: table
		a 
			display: table-row
			text-decoration: underline
			color: rgba(#fff, 0.7)
			span
				display: table-cell
				padding-right: 10px
				padding-bottom: 8px
			&:hover
				color: rgba(#fff, 1)
				text-decoration: none
	&-soc
		.soc-seti
			position: relative
			width: auto
			bottom: 0
			text-align: left
			&__item
				a
					width: 30px
					height: 30px
					line-height: 30px
					color: #434a54
					background-color: #fff
				&:hover
					a
						color: $accent-color
						background-color: #fff
	&-soc__head
		margin-bottom: 20px
	.wrap-logo
		text-align: left
		.logo
			padding-top: 0
		.logo__desc	
			margin-left: 20px
			opacity: .7
			font-size: 13px
	// копирайт
	.copyright
		display: block
		text-align: center
		font-size: 14px
		padding: 10px 0
		color: rgba(#fff, 0.9)
		background-color: darken(#434a54, 5%)


@import "media"


